<div id="settings-box">

    <div class="settings-title">Fiókom szerkesztése</div>

    <div id="settings">
        <form>
            <div>
                <label>NÉV MEGVÁLTOZTATÁSA:</label>
                <input type="text" class="text-input" name="name" />
            </div>
            <div class="btn" fxLayoutAlign="center center"><input type="submit" value="Mentés"></div>
            <div>
                <label>JELSZÓ MEGVÁLTOZTATÁSA:</label>
                <input type="password" class="text-input" name="pw" />
            </div> 
            <div fxLayoutAlign="center center"><input type="submit" value="Mentés"></div>
        </form>
        <a class="secondary-btn">Fiók törlése</a>
        <footer id="main-footer">
            <p>Szőke Xavér & Péter Roland &copy; 2019, Telekocsi</p>
        </footer>
    </div>
</div>